<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<h2><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resend confirmation email</center></h2>
		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>
		  
		  <div class="form-group signin_form">
        <label for="signin_email" class="col-sm-2 control-label">
        Email</label>
        <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true, :class=> "form-control", :placeholder=> "yourmail@example.com", :autocomplete=> "off", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
      </div>

		  <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10"><center>
          <%= f.submit "Resend confirmation instruction", :class=>"btn btn-primary btn-sm" %></center>
        </div>
      </div><br><br>
		<% end %>
  </div>
</div>
