<div id="wrapper">
  <%=render 'partner/header'%>
  <!-- End Navbar -->
  <!-- Home
    ================================================== -->
  <section>
    <div id="home-section">
      <div class="home-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro-title">
                <h2>Partner with us</h2>
                <h4>Business opportunity with no upfront investment</h4>
              </div>
              <!-- end intro-title -->
              <div class="call-to-action">
                <a class="btn btn-cta" href="<%=new_property_path%>" target="_blank">Become a partner</a>
              </div>
              <!-- end call-to-action -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </div>
      <!-- end home-content -->
    </div>
    <!-- end home-section -->
  </section>
  <!-- End home section -->
  <!-- About 
    ================================================== -->
  <section>
    <div id="about-section">
      <div class="container">
        <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
          <h3>Convert your commercial property into a coworking hub </h3>
          <hr>
          <p>We help commercial property owners convert <br> their commercial office space into a coworking space</p>
        </div>
        <!-- end title-section -->
        <div class="about-us">
          <div class="row">
            <div class="col-md-7">
              <div class="about-img animated out" data-animation="fadeInLeft" data-delay="0">
                <img src="/assets/partner/temp/about-img.png" alt="">
              </div>
              <!-- end about-img -->
            </div>
            <!-- end col-md-7 -->
            <div class="col-md-5">
              <div class="about-text animated out" data-animation="fadeInRight" data-delay="0">
                <h1>No Investment required</h1>
                <p>If you have a vacant commercial office space and looking for a business opportunity then we have a perfect option for you.We would build your commercial space into a coworking hub and help you in managing it through our space management system. We would be bringing the clients, you just have to manage the space.</p>
                <div class="about-action-btns">
                  <a href="<%=new_property_path%>" class="btn btn-clean">Become a partner</a>
                  <!-- <a href="#" class="btn btn-clean">What is here?</a> -->
                </div>
                <!-- end about-action-btns -->
              </div>
              <!-- end about-text -->
            </div>
            <!-- end col-md-5 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end about-us -->
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- end about section -->
  <!-- Statistics
    ================================================== -->
  <section style="display:none;">
    <div id="statistic-section" data-stellar-background-ratio="0">
      <div class="container">
        <div class="row">
          <!-- countTo -->
          <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="http://imageog.flaticon.com/icons/png/512/1/1025.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" class="img-circle">
            <div class="percentfactor"><span >Delhi</span></div>  
            
          </div>

          <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="http://imageog.flaticon.com/icons/png/512/1/1025.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" class="img-circle">  
            <div class="percentfactor"><span class="percentfactor">Noida</span></div>
          </div>

          <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="http://imageog.flaticon.com/icons/png/512/1/1025.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" class="img-circle">  
            <div class="percentfactor"><span class="percentfactor">Gurgaon</span></div>
          </div>

          <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="http://imageog.flaticon.com/icons/png/512/1/1025.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" class="img-circle">  
            <div class="percentfactor"><span class="percentfactor">Bangalore</span></div>
          </div>
          
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end statistic-section -->
  </section>
  
  <section>
    <div id="services-section">
      <div class="container">
        <div class="services">
          <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
            <h3>What we offer</h3>
            <hr>
            <p>If you have a vacant commercial office, partner with us to convert your space into a coworking hub </p>
          </div>
          <!-- end title-section -->
          <div class="services-boxes">
            <div class="row">
              <div class="col-sm-4 services-bb-rb">
                <div class="services-post animated out" data-animation="fadeInLeft" data-delay="0">
                  <span class="services-icon"><i class="fa fa-pie-chart"></i></span>
                  <h5>Zero Investment</h5>
                  <p>We invest in designing and building your space into a coworking centre.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->
              <div class="col-sm-4 services-bb-rb">
                <div class="services-post animated out" data-animation="fadeInUp" data-delay="0">
                  <span class="services-icon"><i class="fa fa-line-chart"></i></span>
                  <h5>Higher Income</h5>
                  <p>Open with us, open the true potential of your property and make it earn higher returns for you. Don’t be bound by fixed returns, think beyond.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 --> 
              <div class="col-sm-4 services-bb">
                <div class="services-post animated out" data-animation="fadeInRight" data-delay="0">
                  <span class="services-icon"><i class="fa fa-cogs"></i></span>
                  <h5>Multiple Revenue Options</h5>
                  <p>Our technology enables us to breakdown the office infrastructure into segments such as conference rooms, hot desks, breakout zones etc allowing us to have maximum utilization of space.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->
              <div class="col-sm-4 services-rb">
                <div class="services-post animated out" data-animation="fadeInLeft" data-delay="0">
                  <span class="services-icon"><i class="fa fa-desktop"></i></span>
                  <h5>Marketing Cost</h5>
                  <p>It would be our sole responsibility to market your space. You would not have to spend any money on marketing ever.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->    
              <div class="col-sm-4 services-rb">
                <div class="services-post animated out" data-animation="fadeInUp" data-delay="0">
                  <span class="services-icon"><i class="fa fa-pencil"></i></span>
                  <h5>Handling Documentation</h5>
                  <p>Our technology enables us to handle all necessary documentation from the occupants of the space so that you don't have to worry about it.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->
              <div class="col-sm-4">
                <div class="services-post animated out" data-animation="fadeInRight" data-delay="0">
                  <span class="services-icon"><i class="fa fa-lightbulb-o"></i></span>
                  <h5>Managing the Space</h5>
                  <p>We would provide you with our space management system which would manage the entire centre through technology.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->
            </div>
            <!-- end row -->
          </div>
          <!-- end services-boxes -->
        </div>
        <!-- End services -->
      </div>
      <!-- end container -->
    </div>
  </section>
  
  <section>
    <div id="small-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="subsection-text animated out" data-animation="fadeInLeft" data-delay="0">
              <h5 class="subsection-title">
                Are you impressed yet?
              </h5>
              <p class="subsection-desc">
                You can contact us to talk more about onboarding your property
              </p>
            </div>
            <!-- end subsection-text -->
          </div>
          <!-- end col-md-8 -->
          <div class="col-md-4">
            <div class="subsection-action animated out" data-animation="fadeInRight" data-delay="0">
              <a href="<%=new_property_path%>" target="_blank" class="btn btn-light" >Become a partner</a>
            </div>
            <!-- end subsection-action -->
          </div>
          <!-- end col-md-4 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </section>
</div>

