<div id="wrapper">
  <%=render 'partner/header'%>
  <!-- End Navbar -->
  <!-- Home
    ================================================== -->
  <section>
    <div id="home-section">
      <div class="home-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro-title">
                <h2 style="font-size: 42px;">Partner with us</h2>
                <h4>Let Aboard Offices work for your Space</h4>
              </div>
              <!-- end intro-title -->
              <div class="call-to-action">
                <a class="btn btn-cta" href="<%=new_property_path%>" target="_blank">Become a partner</a>
              </div>
              <!-- end call-to-action -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </div>
      <!-- end home-content -->
    </div>
    <!-- end home-section -->
  </section>
  <!-- End home section -->
  <!-- About 
    ================================================== -->
  <section>
    <div id="about-section">
      <div class="container">
        <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
          <h3>List your coworking Space with Aboard Offices </h3>
          <hr>
          <p>Aboard offices is a one stop destination for anyone looking for flexible workspace </p>
        </div>
        <!-- end title-section -->
        <div class="about-us">
          <div class="row">
            <div class="col-md-7">
              <div class="about-img animated out" data-animation="fadeInLeft" data-delay="0">
                <img src="/assets/partner/temp/about-img.png" alt="">
              </div>
              <!-- end about-img -->
            </div>
            <!-- end col-md-7 -->
            <div class="col-md-5">
              <div class="about-text animated out" data-animation="fadeInRight" data-delay="0">
                <h1>Join the Network </h1>
                <p>Expand your reach to workforce across different locations and get the visibility you are looking for through our platform. We make your space available to thousands of members who are searching for workplace, meeting rooms, training rooms. </p>
                <div class="about-action-btns">
                  <a href="<%=new_property_path%>" class="btn btn-clean">Become a partner</a>
                  <!-- <a href="#" class="btn btn-clean">What is here?</a> -->
                </div>
                <!-- end about-action-btns -->
              </div>
              <!-- end about-text -->
            </div>
            <!-- end col-md-5 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end about-us -->
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- end about section -->
  <!-- Statistics
    ================================================== -->
  <section style="display:none;">
    <div id="statistic-section" data-stellar-background-ratio="0">
      <div class="container">
        <div class="row">
          <!-- countTo -->
          <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="http://imageog.flaticon.com/icons/png/512/1/1025.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" class="img-circle">
            <div class="percentfactor"><span >Delhi</span></div>  
            
          </div>

          <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="http://imageog.flaticon.com/icons/png/512/1/1025.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" class="img-circle">  
            <div class="percentfactor"><span class="percentfactor">Noida</span></div>
          </div>

          <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="http://imageog.flaticon.com/icons/png/512/1/1025.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" class="img-circle">  
            <div class="percentfactor"><span class="percentfactor">Gurgaon</span></div>
          </div>

          <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="http://imageog.flaticon.com/icons/png/512/1/1025.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" class="img-circle">  
            <div class="percentfactor"><span class="percentfactor">Bangalore</span></div>
          </div>
          
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end statistic-section -->
  </section>
  
  <section>
    <div id="services-section">
      <div class="container">
        <div class="services">
          <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
            <h3>What we offer</h3>
            <hr>
            <p>If you have a coworking space or empty desks then this is a place for you</p>
          </div>
          <!-- end title-section -->
          <div class="services-boxes">
            <div class="row">
              <div class="col-sm-4 services-bb-rb">
                <div class="services-post animated out" data-animation="fadeInLeft" data-delay="0">
                  <span class="services-icon"><i class="fa fa-pie-chart"></i></span>
                  <h5>Inventory Management System</h5>
                  <p>We would give you a platform for managing your cowork space equipped with client listing, calendar management, Resource management</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->
              <div class="col-sm-4 services-bb-rb">
                <div class="services-post animated out" data-animation="fadeInUp" data-delay="0">
                  <span class="services-icon"><i class="fa fa-line-chart"></i></span>
                  <h5>Higher Income</h5>
                  <p>Open with us, the true potential of your cowork space and make it earn higher returns for you by getting new leads and bookings for your space.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 --> 
              <div class="col-sm-4 services-bb">
                <div class="services-post animated out" data-animation="fadeInRight" data-delay="0">
                  <span class="services-icon"><i class="fa fa-cogs"></i></span>
                  <h5>Client Search</h5>
                  <p>Being part of our network you would never be short of clients at your work space. You would be spending less time in filling up seats focussing more on your work space.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->
              <div class="col-sm-4 services-rb">
                <div class="services-post animated out" data-animation="fadeInLeft" data-delay="0">
                  <span class="services-icon"><i class="fa fa-desktop"></i></span>
                  <h5>Marketing Cost</h5>
                  <p>By Partnering with us, you will be spending less on marketing your co-working space. Once aboard we would promote your workspace through our platform and make sure it reaches to the maximum audience. </p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->    
              <div class="col-sm-4 services-rb">
                <div class="services-post animated out" data-animation="fadeInUp" data-delay="0">
                  <span class="services-icon"><i class="fa fa-pencil"></i></span>
                  <h5>Handling client KYC</h5>
                  <p>We would be providing the KYC documents of all the clients who book the space through us so that you don’t have to worry about their documentation .</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->
              <div class="col-sm-4">
                <div class="services-post animated out" data-animation="fadeInRight" data-delay="0">
                  <span class="services-icon"><i class="fa fa-lightbulb-o"></i></span>
                  <h5>Brand Association </h5>
                  <p>By tying up with Aroard Offices you would be becoming one of our verified partners which would add a trust factor for all the new clients which associate with you.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->
            </div>
            <!-- end row -->
          </div>
          <!-- end services-boxes -->
        </div>
        <!-- End services -->
      </div>
      <!-- end container -->
    </div>
  </section>
  
  <section>
    <div id="small-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="subsection-text animated out" data-animation="fadeInLeft" data-delay="0">
              <h5 class="subsection-title">
                Are you impressed yet?
              </h5>
              <p class="subsection-desc">
                You can contact us to talk more about onboarding your property
              </p>
            </div>
            <!-- end subsection-text -->
          </div>
          <!-- end col-md-8 -->
          <div class="col-md-4">
            <div class="subsection-action animated out" data-animation="fadeInRight" data-delay="0">
              <a href="<%=new_property_path%>" target="_blank" class="btn btn-light" >Become a partner</a>
            </div>
            <!-- end subsection-action -->
          </div>
          <!-- end col-md-4 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </section>
</div>

