<div id="wrapper">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/assets/partner/logo.png" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-nav">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#wrapper">Home</a></li>
            <li><a href="#about-section">About</a></li>
            <li><a href="#team-section">Team</a></li>
            <li><a href="#services-section">Services</a></li>
            <li><a href="#portfolio-section">Portfolio</a></li>
            <li><a href="#blog-section">Blog</a></li>
            <li><a href="#prices-section">Pricing</a></li>
            <li><a href="#contact-section">Contact</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
  </header>
  <!-- End Navbar -->
  <!-- Home
    ================================================== -->
  <section>
    <div id="home-section">
      <div class="home-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro-title">
                <h2>We are Clarix Creative.</h2>
                <h4>A digital creative design &#38; development agency</h4>
              </div>
              <!-- end intro-title -->
              <div class="call-to-action">
                <a class="btn btn-cta" href="#about-section">Learn more</a>
              </div>
              <!-- end call-to-action -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </div>
      <!-- end home-content -->
    </div>
    <!-- end home-section -->
  </section>
  <!-- End home section -->
  <!-- About 
    ================================================== -->
  <section>
    <div id="about-section">
      <div class="container">
        <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
          <h3>About us</h3>
          <hr>
          <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
        </div>
        <!-- end title-section -->
        <div class="about-us">
          <div class="row">
            <div class="col-md-7">
              <div class="about-img animated out" data-animation="fadeInLeft" data-delay="0">
                <img src="/assets/partner/temp/about-img.png" alt="">
              </div>
              <!-- end about-img -->
            </div>
            <!-- end col-md-7 -->
            <div class="col-md-5">
              <div class="about-text animated out" data-animation="fadeInRight" data-delay="0">
                <h1>Simply Amazing Services</h1>
                <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer neque lementum posuere purus. Nam convallis ipsum. Maecenas a vulputate ipsum.</p>
                <div class="about-action-btns">
                  <a href="#" class="btn btn-clean">Let's Start</a>
                  <a href="#" class="btn btn-clean">What is here?</a>
                </div>
                <!-- end about-action-btns -->
              </div>
              <!-- end about-text -->
            </div>
            <!-- end col-md-5 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end about-us -->
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- end about section -->
  <!-- Statistics
    ================================================== -->
  <section>
    <div id="statistic-section" data-stellar-background-ratio="0">
      <div class="container">
        <div class="row">
          <!-- countTo -->
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="statistic-percent" data-perc="356">
              <div class="fact">
                <span class="percentfactor">356</span>
                <div class="mil-icon">
                  <i class="fa fa-smile-o"></i>
                </div>
                <p>Happy Clients</p>
              </div>
              <!-- end fact -->
            </div>
            <!-- end statistic-percent -->
          </div>
          <!-- end col-xs-6 col-sm-3 col-md-3 -->
          <!-- countTo -->
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="statistic-percent" data-perc="126">
              <div class="fact">
                <span class="percentfactor">126</span>
                <div class="mil-icon">
                  <i class="fa fa-coffee"></i>
                </div>
                <p>Coffee Cups</p>
              </div>
              <!-- end fact -->
            </div>
            <!-- end statistic-percent -->
          </div>
          <!-- end col-xs-6 col-sm-3 col-md-3 -->
          <!-- countTo -->
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="statistic-percent" data-perc="274">
              <div class="fact">
                <span class="percentfactor">274</span>
                <div class="mil-icon">
                  <i class="fa fa-eye"></i>
                </div>
                <p>Happy Customers</p>
              </div>
              <!-- end fact -->
            </div>
            <!-- end statistic-percent -->
          </div>
          <!-- end col-xs-6 col-sm-3 col-md-3 -->
          <!-- countTo -->
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="statistic-percent" data-perc="246">
              <div class="fact">
                <span class="percentfactor">246</span>
                <div class="mil-icon">
                  <i class="fa fa-briefcase"></i>
                </div>
                <p>Finished Projects</p>
              </div>
              <!-- end fact -->
            </div>
            <!-- end statistic-percent -->
          </div>
          <!-- end col-xs-6 col-sm-3 col-md-3 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end statistic-section -->
  </section>
  <!-- End statistic section -->
  <!-- Team 
    ================================================== -->
  <section>
    <div id="team-section">
      <div class="container">
        <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
          <h3>Our awesome team</h3>
          <hr>
          <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
        </div>
        <!-- end title-section -->
        <div class="team-members">
          <div class="row">
            <!-- member-team -->
            <div class="col-sm-6 col-md-3">
              <div class="member-team animated out" data-animation="fadeInLeft" data-delay="0">
                <div class="member-gal">
                  <img src="/assets/partner/team/member1.jpg" alt="">
                  <div class="hover-member">
                    <ul class="member-social">
                      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                  <!-- end hover-member -->
                </div>
                <!-- end member-gal -->
                <div class="member-resume">
                  <h6>Jonathan Doe</h6>
                  <p>Co Founder</p>
                </div>
                <!-- end member-resume -->
              </div>
              <!-- end member-team -->
            </div>
            <!-- end col-md-3 -->
            <!-- member-team -->
            <div class="col-sm-6 col-md-3">
              <div class="member-team animated out" data-animation="flipInY" data-delay="0">
                <div class="member-gal">
                  <img src="/assets/partner/team/member2.jpg" alt="">
                  <div class="hover-member">
                    <ul class="member-social">
                      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                  <!-- end hover-member -->
                </div>
                <!-- end member-gal -->
                <div class="member-resume">
                  <h6>Jack Daniel</h6>
                  <p>Web Desiger</p>
                </div>
                <!-- end member-resume -->
              </div>
              <!-- end member-team -->
            </div>
            <!-- end col-md-3 -->
            <!-- member-team -->
            <div class="col-sm-6 col-md-3">
              <div class="member-team animated out" data-animation="flipInY" data-delay="0">
                <div class="member-gal">
                  <img src="/assets/partner/team/member3.jpg" alt="">
                  <div class="hover-member">
                    <ul class="member-social">
                      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                  <!-- end hover-member -->
                </div>
                <!-- end member-gal -->
                <div class="member-resume">
                  <h6>Justine Brooks</h6>
                  <p>Developer</p>
                </div>
                <!-- end member-resume -->
              </div>
              <!-- end member-team -->
            </div>
            <!-- end col-md-3 -->
            <!-- member-team -->
            <div class="col-sm-6 col-md-3">
              <div class="member-team animated out" data-animation="fadeInRight" data-delay="0">
                <div class="member-gal">
                  <img src="/assets/partner/team/member4.jpg" alt="">
                  <div class="hover-member">
                    <ul class="member-social">
                      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                  <!-- end hover-member -->
                </div>
                <!-- end member-gal -->
                <div class="member-resume">
                  <h6>Jonathan Doe</h6>
                  <p>Creative Director</p>
                </div>
                <!-- end member-resume -->
              </div>
              <!-- end member-team -->
            </div>
            <!-- end col-md-3 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end team-members -->
      </div>
      <!-- end container -->
    </div>
    <!-- end team-section -->
  </section>
  <!-- End team section -->
  <!-- Skills
    ================================================== -->
  <section>
    <div id="skills-section">
      <div class="container">
        <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
          <h3>Our specialization</h3>
          <hr>
          <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
        </div>
        <!-- end title-section -->
        <div class="row">
          <!-- skill -->
          <div class="col-sm-6 col-md-3">
            <div class="skill-item">
              <div class="chart" data-percent="60"> <span class="percent"></span></div>
              <h5>Programming</h5>
            </div>
            <!-- end skill-item -->
          </div>
          <!-- end col-sm-6 col-md-3 -->
          <!-- skill -->
          <div class="col-sm-6 col-md-3 ">
            <div class="skill-item">
              <div class="chart" data-percent="90"> <span class="percent"></span></div>
              <h5>Web design</h5>
            </div>
            <!-- end skill-item -->
          </div>
          <!-- end col-sm-6 col-md-3 -->
          <!-- skill -->
          <div class="col-sm-6 col-md-3">
            <div class="skill-item">
              <div class="chart" data-percent="58"> <span class="percent"></span></div>
              <h5>UI/UX Design</h5>
            </div>
            <!-- end skill-item -->
          </div>
          <!-- end col-sm-6 col-md-3 -->
          <!-- skill -->
          <div class="col-sm-6 col-md-3">
            <div class="skill-item">
              <div class="chart" data-percent="75"> <span class="percent"></span></div>
              <h5>SEO optimization</h5>
            </div>
            <!-- end skill-item -->
          </div>
          <!-- end col-sm-6 col-md-3 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- End skills section -->
  <!-- Subsection
    ================================================== -->
  <section>
    <div id="subsection-services" data-stellar-background-ratio="0">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="subsection-text animated out" data-animation="fadeInLeft" data-delay="0">
              <h5 class="subsection-title">
                Ready to work with us?
              </h5>
              <p class="subsection-desc">
                You can contact us to talk more about your project.
              </p>
            </div>
            <!-- end subsection-text -->
          </div>
          <!-- end col-md-8 -->
          <div class="col-md-4">
            <div class="subsection-action animated out" data-animation="fadeInRight" data-delay="0">
              <a href="#contact-section" class="btn btn-light">Contact Us</a>
            </div>
            <!-- end subsection-action -->
          </div>
          <!-- end col-md-4 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- End subsection -->
  <!-- Services
    ================================================== -->
  <section>
    <div id="services-section">
      <div class="container">
        <div class="services">
          <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
            <h3>Amazing Services</h3>
            <hr>
            <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
          </div>
          <!-- end title-section -->
          <div class="services-boxes">
            <div class="row">
              <div class="col-sm-4 services-bb-rb">
                <div class="services-post animated out" data-animation="fadeInLeft" data-delay="0">
                  <span class="services-icon"><i class="fa fa-pencil"></i></span>
                  <h5>Web Design</h5>
                  <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->
              <div class="col-sm-4 services-bb-rb">
                <div class="services-post animated out" data-animation="fadeInUp" data-delay="0">
                  <span class="services-icon"><i class="fa fa-line-chart"></i></span>
                  <h5>Seo</h5>
                  <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 --> 
              <div class="col-sm-4 services-bb">
                <div class="services-post animated out" data-animation="fadeInRight" data-delay="0">
                  <span class="services-icon"><i class="fa fa-cogs"></i></span>
                  <h5>Creative Solutions</h5>
                  <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->
              <div class="col-sm-4 services-rb">
                <div class="services-post animated out" data-animation="fadeInLeft" data-delay="0">
                  <span class="services-icon"><i class="fa fa-desktop"></i></span>
                  <h5>Web Development</h5>
                  <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->    
              <div class="col-sm-4 services-rb">
                <div class="services-post animated out" data-animation="fadeInUp" data-delay="0">
                  <span class="services-icon"><i class="fa fa-pie-chart"></i></span>
                  <h5>Marketing</h5>
                  <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->
              <div class="col-sm-4">
                <div class="services-post animated out" data-animation="fadeInRight" data-delay="0">
                  <span class="services-icon"><i class="fa fa-lightbulb-o"></i></span>
                  <h5>BRANDING</h5>
                  <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
                </div>
                <!-- end services-post -->
              </div>
              <!-- end col-sm-4 -->
            </div>
            <!-- end row -->
          </div>
          <!-- end services-boxes -->
        </div>
        <!-- End services -->
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- End services section -->
  <!-- Small section
    ================================================== -->
  <section>
    <div id="small-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="subsection-text animated out" data-animation="fadeInLeft" data-delay="0">
              <h5 class="subsection-title">
                Are you impressed yet?
              </h5>
              <p class="subsection-desc">
                You can contact us to talk more about your project
              </p>
            </div>
            <!-- end subsection-text -->
          </div>
          <!-- end col-md-8 -->
          <div class="col-md-4">
            <div class="subsection-action animated out" data-animation="fadeInRight" data-delay="0">
              <a href="#contact-section" class="btn btn-light">Let's talk!</a>
            </div>
            <!-- end subsection-action -->
          </div>
          <!-- end col-md-4 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- End small section -->
  <!-- Portfolio
    ================================================== -->
  <section>
    <div id="portfolio-section" class="clearfix">
      <div class="container">
        <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
          <h3>Our portfolio</h3>
          <hr>
          <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
        </div>
        <!-- end title-section -->
        <div class="row">
          <div class="col-md-12 text-center">
            <div id="options" data-effect="fade">
              <!-- portfolio filters -->
              <ul id="filters" class="option-set">
                <li><a class="filter active" data-filter="all">All</a></li>
                <li><a data-filter=".photo" class="filter">Photo</a></li>
                <li><a data-filter=".web" class="filter">Web</a></li>
                <li><a data-filter=".brand" class="filter">Brand</a></li>
                <li><a data-filter=".design" class="filter">Design</a></li>
              </ul>
              <!-- end portfolio filters -->
            </div>
            <!--  end options -->
          </div>
          <!-- end col-md-12 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
      <div class="home-projects animated out" data-animation="fadeInUp" data-delay="0">
        <!-- portfolio item -->
        <div class="project-item mix photo design">
          <div class="item-folio">
            <div class="item-img">
              <img src="/assets/partner/portfolio/project1.jpg" alt="image alt">
              <div class="hover-item">
                <a href="/assets/partner/portfolio/project1.jpg" class="zoom"><i class="fa fa-plus"></i></a>
                <a href="project-image.html" class="link-icon"><i class="fa fa-ellipsis-h"></i></a>
              </div>
            </div>
          </div>
          <div class="metainfo">
            <h6>Axel</h6>
            <p><em>Branding, Design</em></p>
          </div>
          <!-- end metainfo -->
        </div>
        <!-- end project-item  -->
        <!-- portfolio item -->
        <div class="project-item mix brand photo">
          <div class="item-folio">
            <div class="item-img">
              <img src="/assets/partner/portfolio/project2.jpg" alt="image alt">
              <div class="hover-item">
                <a href="http://player.vimeo.com/video/79876010" class="video-pop-up"><i class="fa fa-play"></i></a>
                <a href="project-video.html" class="link-icon"><i class="fa fa-ellipsis-h"></i></a>
              </div>
            </div>
          </div>
          <div class="metainfo">
            <h6>Dolorean</h6>
            <p><em>Design</em></p>
          </div>
          <!-- end metainfo -->
        </div>
        <!-- end project-item  -->
        <!-- portfolio item -->
        <div class="project-item mix design brand">
          <div class="item-folio">
            <div class="item-img">
              <img src="/assets/partner/portfolio/project3.jpg" alt="image alt">
              <div class="hover-item">
                <a href="/assets/partner/portfolio/project3.jpg" class="zoom"><i class="fa fa-plus"></i></a>
                <a href="project-image.html" class="link-icon"><i class="fa fa-ellipsis-h"></i></a>
              </div>
            </div>
          </div>
          <div class="metainfo">
            <h6>Real UI</h6>
            <p><em>Development</em></p>
          </div>
          <!-- end metainfo -->
        </div>
        <!-- end project-item  -->
        <!-- portfolio item -->
        <div class="project-item mix brand">
          <div class="item-folio">
            <div class="item-img">
              <img src="/assets/partner/portfolio/project4.jpg" alt="image alt">
              <div class="hover-item">
                <a href="/assets/partner/portfolio/project4.jpg" class="zoom"><i class="fa fa-plus"></i></a>
                <a href="project-image.html" class="link-icon"><i class="fa fa-ellipsis-h"></i></a>
              </div>
            </div>
          </div>
          <div class="metainfo">
            <h6>No Doubt</h6>
            <p><em>graphic, package</em></p>
          </div>
          <!-- end metainfo -->
        </div>
        <!-- end project-item  -->
        <!-- portfolio item -->
        <div class="project-item mix web photo">
          <div class="item-folio">
            <div class="item-img">
              <img src="/assets/partner/portfolio/project5.jpg" alt="image alt">
              <div class="hover-item">
                <a href="http://player.vimeo.com/video/79876010" class="video-pop-up"><i class="fa fa-play"></i></a>
                <a href="project-video.html" class="link-icon"><i class="fa fa-ellipsis-h"></i></a>
              </div>
            </div>
          </div>
          <div class="metainfo">
            <h6>Soul Digital</h6>
            <p><em>branding, web</em></p>
          </div>
          <!-- end metainfo -->
        </div>
        <!-- end project-item  -->
        <!-- portfolio item -->
        <div class="project-item mix web design">
          <div class="item-folio">
            <div class="item-img">
              <img src="/assets/partner/portfolio/project6.jpg" alt="image alt">
              <div class="hover-item">
                <a href="/assets/partner/portfolio/project6.jpg" class="zoom"><i class="fa fa-plus"></i></a>
                <a href="project-image.html" class="link-icon"><i class="fa fa-ellipsis-h"></i></a>
              </div>
            </div>
          </div>
          <div class="metainfo">
            <h6>Creative</h6>
            <p><em>graphic, web</em></p>
          </div>
          <!-- end metainfo -->
        </div>
        <!-- end project-item  -->
        <!-- portfolio item -->
        <div class="project-item mix design photo">
          <div class="item-folio">
            <div class="item-img">
              <img src="/assets/partner/portfolio/project7.jpg" alt="image alt">
              <div class="hover-item">
                <a href="/assets/partner/portfolio/project7.jpg" class="zoom"><i class="fa fa-plus"></i></a>
                <a href="project-image.html" class="link-icon"><i class="fa fa-ellipsis-h"></i></a>
              </div>
            </div>
          </div>
          <div class="metainfo">
            <h6>No Doubt</h6>
            <p><em>graphic, package</em></p>
          </div>
          <!-- end metainfo -->
        </div>
        <!-- end project-item  -->
        <!-- portfolio item -->
        <div class="project-item mix design brand photo">
          <div class="item-folio">
            <div class="item-img">
              <img src="/assets/partner/portfolio/project8.jpg" alt="image alt">
              <div class="hover-item">
                <a href="http://player.vimeo.com/video/79876010" class="video-pop-up"><i class="fa fa-play"></i></a>
                <a href="project-video.html" class="link-icon"><i class="fa fa-ellipsis-h"></i></a>
              </div>
            </div>
          </div>
          <div class="metainfo">
            <h6>Animup</h6>
            <p><em>branding, web</em></p>
          </div>
          <!-- end metainfo -->
        </div>
        <!-- end project-item  -->
      </div>
      <!-- end home projects -->
    </div>
  </section>
  <!-- End portfolio section -->
  <!-- Sep
    ================================================== -->
  <section>
    <div class="sep-section">
      <div class="container">
        <div class="sep"></div>
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- end sep section -->
  <!-- Blog
    ================================================== -->
  <section>
    <div id="blog-section">
      <div class="container">
        <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
          <h3>Latest blog posts</h3>
          <hr>
          <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus.</p>
        </div>
        <!-- end title-section -->
        <div class="blog-posts">
          <div class="row">
            <!-- Post -->
            <div class="col-md-4">
              <div class="entry-post animated out" data-animation="fadeInLeft" data-delay="0">
                <div class="entry-image">
                  <a href="blog-single.html">
                    <img src="/assets/partner/portfolio/project8.jpg" alt="">
                    <div class="hover-item">
                      <span class="link-icon"><i class="fa fa-ellipsis-h"></i></span>
                    </div>
                    <!-- end hover-item -->
                  </a>
                </div>
                <!-- end entry-image -->
                <div class="post-meta">
                  <p><span class="date"><a href="#">15.01.2015</a></span> <span class="comments">0 Comments</span></p>
                </div>
                <!-- end post-meta -->
                <h4 class="post-title"><a href="blog-single.html">POST WITH IMAGE</a></h4>
                <div class="post-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer eu feugiat neque, elementum posuere purus.</p>
                </div>
                <!-- end post-body -->
              </div>
              <!-- end entry-post -->
            </div>
            <!-- end col-md-4 -->
            <!-- Post -->
            <div class="col-md-4">
              <div class="entry-post animated out" data-animation="fadeInUp" data-delay="0">
                <div class="entry-image">
                  <a href="blog-single.html">
                    <img src="/assets/partner/portfolio/project3.jpg" alt="">
                    <div class="hover-item">
                      <span class="link-icon"><i class="fa fa-ellipsis-h"></i></span>
                    </div>
                    <!-- end hover-item -->
                  </a>
                </div>
                <!-- end entry-image -->
                <div class="post-meta">
                  <p><span class="date"><a href="#">28.01.2015</a></span> <span class="comments">0 Comments</span></p>
                </div>
                <h4 class="post-title"><a href="blog-single.html">Post with image</a></h4>
                <div class="post-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer eu feugiat neque, elementum posuere purus.</p>
                </div>
                <!-- end post-body -->
              </div>
              <!-- end entry-post -->
            </div>
            <!-- end col-md-4 -->
            <!-- Post -->
            <div class="col-md-4">
              <div class="entry-post animated out" data-animation="fadeInRight" data-delay="0">
                <div class="entry-image">
                  <a href="blog-single.html">
                    <img src="/assets/partner/portfolio/project6.jpg" alt="">
                    <div class="hover-item">
                      <span class="link-icon"><i class="fa fa-ellipsis-h"></i></span>
                    </div>
                    <!-- end hover-item -->
                  </a>
                </div>
                <!-- end entry-image -->
                <div class="post-meta">
                  <p><span class="date"><a href="#">15.01.2015</a></span> <span class="comments">0 Comments</span></p>
                </div>
                <h4 class="post-title"><a href="blog-single.html">Post with video</a></h4>
                <div class="post-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer eu feugiat neque, elementum posuere purus.</p>
                </div>
                <!-- end post-body -->
              </div>
              <!-- end entry-post -->
            </div>
            <!-- end col-md-4 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end blog-posts -->
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- End blog section -->
  <!-- Action -->
  <section>
    <div id="action-section">
      <div class="container">
        <div class="call-to-action animated out" data-animation="fadeInUp" data-delay="0">
          <a href="blog.html" class="btn btn-clean">View all posts</a>
        </div>
        <!-- end call-to-action -->
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- End action section -->
  <!-- Sep
    ================================================== -->
  <section>
    <div class="sep-section">
      <div class="container">
        <div class="sep"></div>
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- end sep section -->
  <!-- Prices
    ================================================== -->
  <section>
    <div id="prices-section">
      <div class="container">
        <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
          <h3>Our price</h3>
          <hr>
          <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
        </div>
        <!-- end title-section -->
        <div class="row">
          <!-- price table -->
          <div class="col-md-4">
            <ul class="price-table animated out" data-animation="fadeInLeft" data-delay="0">
              <li class="title">
                <h4>Basic Pack</h4>
              </li>
              <li>
                <p>5 Projects</p>
              </li>
              <li>
                <p>5 GB Storage</p>
              </li>
              <li>
                <p>100GB Monthly Bandwidth</p>
              </li>
              <li class="price">
                <p><span>$5.99</span> per month</p>
              </li>
              <li>
                <p>Your domain</p>
              </li>
              <li>
                <a href="#" class="purchase">Purchase now</a>
              </li>
            </ul>
          </div>
          <!-- end price table -->
          <!-- price table -->
          <div class="col-md-4">
            <ul class="price-table animated out" data-animation="fadeInUp" data-delay="0">
              <li class="title">
                <h4>Premium Pack</h4>
              </li>
              <li>
                <p>5 Projects</p>
              </li>
              <li>
                <p>5 GB Storage</p>
              </li>
              <li>
                <p>100GB Monthly Bandwidth</p>
              </li>
              <li class="price">
                <p><span>$13.99</span> per month</p>
              </li>
              <li>
                <p>Your domain</p>
              </li>
              <li>
                <a href="#" class="purchase">Purchase now</a>
              </li>
            </ul>
          </div>
          <!-- end price table -->
          <!-- price table -->
          <div class="col-md-4">
            <ul class="price-table animated out" data-animation="fadeInRight" data-delay="0">
              <li class="title">
                <h4>Unlimited Pack</h4>
              </li>
              <li>
                <p>5 Projects</p>
              </li>
              <li>
                <p>5 GB Storage</p>
              </li>
              <li>
                <p>100GB Monthly Bandwidth</p>
              </li>
              <li class="price">
                <p><span>$20.99</span> per month</p>
              </li>
              <li>
                <p>Your domain</p>
              </li>
              <li>
                <a href="#" class="purchase">Purchase now</a>
              </li>
            </ul>
          </div>
          <!-- end price table -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- end prices section -->
  <!-- Clients
    ================================================== -->
  <section>
    <div id="clients-section" data-stellar-background-ratio="0">
      <div class="clients">
        <div class="container">
          <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
            <h3>Our Clients</h3>
          </div>
          <!-- end title-section -->
          <ul class="client-list">
            <li>
              <a href="#"><img src="/assets/partner/temp/client.png" alt=""></a>
            </li>
            <li>
              <a href="#"><img src="/assets/partner/temp/client.png" alt=""></a>
            </li>
            <li>
              <a href="#"><img src="/assets/partner/temp/client.png" alt=""></a>
            </li>
            <li>
              <a href="#"><img src="/assets/partner/temp/client.png" alt=""></a>
            </li>
            <li>
              <a href="#"><img src="/assets/partner/temp/client.png" alt=""></a>
            </li>
            <li>
              <a href="#"><img src="/assets/partner/temp/client.png" alt=""></a>
            </li>
          </ul>
        </div>
        <!-- end container -->
      </div>
      <!-- end clients -->
    </div>
  </section>
  <!-- end clients-section -->
  <!-- Testimonial
    ================================================== -->      
  <section>
    <div id="testimonials-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div class="testimonials-carousel">
              <ul class="testimonials-slider">
                <!-- Testimonial -->
                <li>
                  <img src="/assets/partner/temp/client-photo.jpg" alt="">
                  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusultricies porta posuere.</p>
                  <div class="testimonials-author"> ClasDesign - Front End Developer </div>
                </li>
                <!-- Testimonial -->
                <li>
                  <img src="/assets/partner/temp/client-photo.jpg" alt="">
                  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusultricies porta posuere <a href="#">http://goo.gl/1OhxkS</a>.</p>
                  <div class="testimonials-author">John Doe -  Web Developer</div>
                </li>
                <!-- Testimonial -->
                <li>
                  <img src="/assets/partner/temp/client-photo.jpg" alt="">
                  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusultricies porta posuere. <a href="#">http://goo.gl/1OhxkS</a>.</p>
                  <div class="testimonials-author">John Doe - Web Designer</div>
                </li>
              </ul>
              <div class="tc-arrows">
                <div class="tc-arrow-left"></div>
                <div class="tc-arrow-right"></div>
              </div>
              <!-- end tc-arrows -->
            </div>
            <!-- end testimonials-carousel -->
          </div>
          <!-- end col-md-8 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- end testimonial section -->
  <!-- Contact
    ================================================== -->
  <section>
    <div id="contact-section" data-stellar-background-ratio="0">
      <div class="contact">
        <div class="container">
          <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
            <h3>Contact</h3>
            <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
          </div>
          <!-- end title-section -->
          <form action="http://clas-design.com/sites/demo-clarix/demo/version2/php/contact.php" method="post" name="contactform" id="contactform" class="animated out" data-animation="fadeInLeft" data-delay="0">
            <fieldset>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input class="form-control" type="text" name="name" id="name" placeholder="Name">
                  </div>
                  <!-- end form-group -->
                </div>
                <!-- end col-sm-6 -->
                <div class="col-sm-6">
                  <div class="form-group">
                    <input class="form-control" type="email" name="email" id="email" placeholder="Email">
                  </div>
                  <!-- end form-group -->
                </div>
                <!-- end fcol-sm-6-->
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea class="form-control" name="message" id="message" placeholder="Message..."></textarea>
                  </div>
                  <!-- end form-group -->
                </div>
                <!-- end col-sm-12 -->
              </div>
              <!-- end row -->
            </fieldset>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="submit" name="submit" value="Send message" id="submit" class="btn btn-colored">
                </div>
                <!-- end form-group -->
              </div>
              <!-- end col-sm-12 -->
              <div id="alert" class="col-md-8"></div>
            </div>
            <!-- end row -->
          </form>
        </div>
        <!-- end container -->
      </div>
      <!-- end contact -->
    </div>
  </section>
  <!-- end contact section -->
  <!-- Office
    ================================================== -->
  <section>
    <div id="office-section">
      <div class="container">
        <div class="row">
          <!-- location -->
          <div class="col-sm-4 col-md-4">
            <div class="location animated out" data-animation="fadeInLeft" data-delay="0">
              <span><i class="fa fa-map-marker"></i></span>
              <h5>Location</h5>
              <p><span>1400 Defense Pentagon</span>, <br> <span>Arlington County</span>, <br> <span>Virginia</span>, <br> United States</p>
            </div>
            <!-- end location -->
          </div>
          <!-- end col-md-4 -->
          <!-- email -->
          <div class="col-sm-4 col-md-4">
            <div class="email animated out" data-animation="fadeInUp" data-delay="0">
              <span><i class="fa fa-envelope-o"></i></span>
              <h5>Email</h5>
              <p>clas-design@hot.com <br> email@hot.com</p>
            </div>
            <!-- end email -->
          </div>
          <!-- end col-md-4 -->
          <!-- phone -->
          <div class="col-sm-4 col-md-4">
            <div class="phone animated out" data-animation="fadeInRight" data-delay="0">
              <span><i class="fa fa-mobile"></i></span>
              <h5>Phone</h5>
              <p>+1065289799528 <br> +1065289712456</p>
            </div>
            <!-- end phone -->
          </div>
          <!-- end col-md-4 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </section>
  <!-- end office section -->
  <!-- Google Map
    ================================================== -->
  <section>
    <div id="googlemap-section">
      <div class="map"></div>
    </div>
    <!-- end googlemap-section -->
  </section>
  <!-- end google map section -->
  <!-- Footer
    ================================================== -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            <div class="footer-logo">
              <p><span>Clarix</span>Creative</p>
            </div>
            <!-- end footer-logo -->
            <p>This theme is proudly designed and developed by <a href="#">Clas-Design</a></p>
            <p>CLARIX &copy; 2015 by <a href="#">Clas-Design</a>. All Rights Reserved</p>
            <ul class="social-icons-list">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
              <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <!-- end copyright -->
        </div>
        <!-- end col-md-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </footer>
  <!-- end footer -->
</div>
<!-- End Wrapper -->
<!-- JS libraries and scripts -->


