<p>Hello, <%= @user.email.split("@").first%></p>

<p>Your login Details</p>
<table border="1">
	<tr>
		<td>Email</td>
		<td><%=@user.email%></td>
	</tr>

	<tr>
		<td>Password</td>
		<td><%=@user.password%></td>
	</tr>
</table>

