<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="information property-success">
	  	<h2 class="text-center"><span>Thank you</span> for your interest in building <span>next generation offices</span> in collaboration. We hope to build a strong and mutually <span>rewarding partnership</span>. We will get back to you soon.</h2>
	  </div>
	</div>
</div>


<style type="text/css">
	.property-success h2{
		text-transform: none !important;
		padding-bottom:80px;
		padding-top: 60px;
	}
</style>
	


