<!--footer start here-->
<div class="footer">
  <div class="container-fluid side-margin">
    <div class="footer-main">
      <div class="col-md-5 col-xs-12 ftr-grid wow zoomIn" data-wow-delay="0.3s">
        <div class="ftr-logo">
          <h3>ABOUT US</h3>
        </div>
        <p> Aboard Offices is a network of Hi-Quality
          Co-Working Spaces designed to provide aCreative, 
          Energetic and Collaborative professional
          environment for you to create your life's work. <br>
          We offer community support through 
          technology so that you don't get stuck while 
          chasing your dreams.</p>
      </div>
      <div class="col-md-3 col-xs-12 ftr-grid ftr-mid wow zoomIn" data-wow-delay="0.3s">
        <div class="ftr-logo">
          <h3>CONTACTS US</h3>
        </div>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> JIMS, Rithala, New Delhi</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i> +91-9899575753 </p>
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> support@aboardoffices.com<!-- , <br>
          &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;shashi@udgam.net  --></p>
      </div>
      <div class="col-md-4 col-xs-12 ftr-grid ftr-rit wow zoomIn" data-wow-delay="0.3s">
        <div class="ftr-logo">
          <h3>NEWSLETTER</h3>
        </div>
        <p>Subscribe to blast off your 
          freelancing, small business or
          entrepreneurial endeavour.</p>
        <form>
          <input type="text" value="Mail Us" >
          <input type="submit" value="Subscribe" />
        </form>
        <ul class="ftr-icons">
          <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
          <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
          <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i> </a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--footer end here--> 
<!--copy rights start here-->
<div class="copy-right">
  <div class="container-fluid">
    <div class="copy-rights-main wow zoomIn" data-wow-delay="0.3s">
      <p>Aboard Offices © 2017 Name All Rights Reserved </p>
    </div>
  </div>
</div>