<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center" style="height: 250px;padding: 84px;">
          <h1 style="color: red">Oops something went wrong!!!!</h1>
          <br />
          <p>We are currenlty running a beta version. The problem will be reslove as soon as possible</p>
        </div>
        <br />
    </div>
  </div>
</div>

<style type="text/css">
  .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
</style>