/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#property_map {
  height: 300px;
  padding: 0px;
  overflow: visible !important;
}

.property-preview img{
  margin: 6px;
  width: auto;
  height: 135px;
  padding-top: 10px;
  border: 1px solid #ccc;
}


.property-image-show img{
  margin: 6px;
  width: 200px;
  height: 135px;
  padding-top: 10px;
  border: 1px solid #ccc;
}

.post{
  background-color: #FFF;
  overflow: hidden;
  box-shadow: 0 0 1px #CCC;
}


.post .content{
  padding: 15px;
}

.post .author{
  font-size: 11px;
  color: #737373;
  padding: 25px 30px 20px;
}

.post .post-img-content{
  height: 196px;
  position: relative;
  overflow: hidden;
}

.post .post-img-content img{
  position: absolute;
  width: 100%;
}

.post .post-title{
  display: table-cell;
  vertical-align: bottom;
  z-index: 2;
  position: relative;
}

.post .post-title b{
  background-color: rgba(51, 51, 51, 0.58);
  display: inline-block;
  margin-bottom: 5px;
  color: #FFF;
  padding: 10px 15px;
  margin-top: 5px;
}

.header-lang img{
  width: 38px;
  height: 25px;
  margin-left: 25px;
}